{% load cache %}
{% cache 60 sidebar %}
<td valign="top" class="left-chapters">
        <ul id="left-chapters">
            {% if cat_selected == 0 %}
                <li class="selected">Все категории</li>
            {% else %}
                <li><a href="{% url 'home' %}">Все категории</a></li>
            {% endif %}
            {% for c in cats %}
                {% if c.country__count > 0 %}
                    {% if c.pk == cat_selected %}
                        <li class="selected">{{c.name}}</li>
                    {% else %}
                        <li><a href="{{c.get_absolute_url}}">{{c.name}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li><h3 class="sear-head editContent" style="outline: none; cursor: inherit;">
                            Поиск страны</h3>
                        <form action="{% url 'search' %}" method="get" class="d-flex editContent"
                              style="outline: none; cursor: inherit;">
                            <input type="search" placeholder="Введите название страны" name="q"
                                   class="form-control" required="">
                        </form>
            </li>
            <li class="share"><br> Ссылка на источник
            <a class="share-yt" href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B5%D0%BF%D1%80%D0%B8%D0%B7%D0%BD%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5_%D0%B8_%D1%87%D0%B0%D1%81%D1%82%D0%B8%D1%87%D0%BD%D0%BE_%D0%BF%D1%80%D0%B8%D0%B7%D0%BD%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5_%D0%B3%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B0"
               target="_blank" rel="nofollow"></a>
            </li>
            <li><form action="{% url 'sort' %}" method="get">
                <p>{{form.ordering.label}}</p>
                <p>{{ form.ordering}}<button class='btn-sort' type="submit">Сортировать</button></p>

            </form>
            </li>
        </ul>
</td>
{% endcache %}