{% extends 'countries/base.html' %}

{% block content %}
<table class="table-content" border=0 cellspacing="0" cellpadding="0">
    <tr>
        {% include 'countries/include/sidebar.html' %}
        <td valign="top" class="content">
            <div class="content-text">
                <ul class="list-articles">
                    {% for c in countries %}
                    <li>
                        <div class="article-panel">
                            <p class="first">{{c.cat}}</p>
                            <p class="last">Год основания: {{c.year}}</p>
                        </div>
                        <p><img class="img-article left-thumb" src="{{c.flag.url}}"> <img
                                class="img-article right-thumb" src="{{c.emblem.url}}"></p>
                        <h2 align="center" class="link-read-country"><a href="{{ c.get_absolute_url }}">{{c.name}}</a>
                        </h2>
                        {% autoescape on %}
                        <p>{{c.description|linebreaks|truncatewords:50}}</p>
                        {% endautoescape %}
                        <div class="clear"></div>
                    </li>
                    {% endfor %}
                </ul>

                {% include 'countries/include/pagination.html' %}
            </div>
        </td>
    </tr>
</table>
{% endblock %}

